body {
    background: #6271D2;
    height: 100%;
}

.body__container {
    /* width: 1200px; */
    max-width: 90%;
    margin: 0 auto;
    padding: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.body__container__one, .body__container__two {
    width: 50%;
}

.body__container__one {
    background: rgba(255, 255, 255, 0.822);
    text-align: center;
}

.body__container__two {
    background: #FFF;
    padding: 6rem 0;
}

.body__container__one__logo {
    width: 30%;
    display: block;
    margin: 1rem;
}

.body__container__one__hero {
    width: 60%;
    margin-top: 6rem;
}

input:focus, textarea:focus, input[type="button"]:focus {
    outline: none;
}

textarea {
    width: 95%;
    font-family: 'Rubik', sans-serif;
    padding-left: 0.4rem;
    padding-top: 0.4rem;
}

.kicker {
    color: #6271d2;
}

.signup-text {
    margin-top: 7rem;
    text-align: left;
    line-height: 1.5rem;
    color: #6271d2;
    border-left: 2px solid;
    padding-left: 1rem;
}

/* Media Queries */

@media (max-width: 710px) {
    .body__container {
        display: block;
        padding: 0;
    }
    .body__container__one, .body__container__two {
        width: 100%;
    }
    .form {
        width: auto;
    }
    .body__container__two {
        padding: 1rem 0;
    }
    .body__container__one__hero {
        width: 60%;
        margin-top: 2rem;
    }
    .body__container__one__logo {
        width: 45%;
        margin-bottom: 0;
    }
}