.admin-mr {
    margin-right: 1.5rem;
}

.admin-hyperlinks {
    text-decoration: none;
    color: white;
    margin-right: 2rem;
    display: inline-block;
}

.admin-hyperlinks:hover {
    text-decoration: underline;
}

.adminTopNavBar {
    width: 100%;
    margin-bottom: 6rem;
}

.radioCheck[type="radio"], .radioCheck2[type="radio"] {
    opacity: 0;
    position: absolute;
}

.radioCheck__label, .radioCheck2__label {
    padding-left: 2rem;
}

.radioCheck__label, .radioCheck2__label:hover {
    cursor: pointer;
}

.radioCheck2__label {
    padding-left: 2.5rem;
}

.radioCheck__label::before, .radioCheck2__label::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 2px solid #6271D2;
}

.radioCheck2__label::before {
    margin-left: 1rem;
}

.radioCheck__label::after, .radioCheck2__label::after {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: #6271D2;
}

.radioCheck__label::before, .radioCheck__label::after {
    position: absolute;
    top: 0;
    left: 0;
}

.radioCheck2__label::before, .radioCheck2__label::after {
    position: absolute;
    top: -1px;
    left: 90px;
}

.radioCheck__label::after {
    left: 5px;
    top: 4px;
}

.radioCheck2__label::after {
    top: 3px;
    left: 111px;
}

.radioCheck[type="radio"]+.radioCheck__label::after, .radioCheck2[type="radio"]+.radioCheck2__label::after {
    content: none;
}

.radioCheck[type="radio"]:checked+.radioCheck__label::after, .radioCheck2[type="radio"]:checked+.radioCheck2__label::after {
    content: "";
}

.pendingLabel::before, .rejectLabel:before {
    top: -1px;
    left: -16px;
}

.pendingLabel::after, .rejectLabel:after {
    left: 5px;
}

.verifySection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: left;
}

.verifyWrapper {
    margin: 0 2rem;
    margin-top: 4rem;
    width: 35%;
}

.verificationText {
    border-right: 0;
    margin-top: -16px;
    margin-left: 2rem;
    width: 100%;
}

.radioBtnWrapper {
    position: relative;
    margin-top: 0.8rem;
    line-height: initial;
}

.verificationListWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.filter {
    padding: 0.5rem;
    font-family: 'Rubik', sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    background-color: #FEFEFE;
    margin: 3% 15%;
    padding: 4rem;
    text-align: center;
    border: 1px solid #888;
    position: relative;
}

.modalClose {
    color: #AAA;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
}

.modalClose:hover, .modalClose:focus {
    text-decoration: none;
    cursor: pointer;
}

.modalWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.modalWrapper__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modalWrapper_Avatar {
    margin: 0 1rem;
}

.loanRepaymentWrapper {
    margin: 0 auto;
}

.logoIcon, .navIcon {
    display: none;
}

.navIcon {
    color: #FFF;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: -1rem;
}

.sideMenu {
    background-color: #6271D2;
    font-size: 1.5rem;
    height: 100%;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 0;
    z-index: 1;
}

.sideBarLinks, .closeBtn {
    color: #FFFFFF;
    display: block;
    padding: 2rem 1.5rem;
    text-decoration: none;
}

.sideMenu .closeBtn {
    font-size: 3rem;
    padding: 0;
    position: fixed;
    right: 1.3rem;
    top: 2rem;
}

.closeBtn {
    display: none;
}

@media (max-width: 768px) {
    .textAlignLeft {
        text-align: left;
    }
    .whiteSpace {
        padding-left: 0;
        padding-right: 0;
    }
    .verifyWrapper {
        width: 100%;
    }
    .verificationText {
        margin-left: 0;
        margin-top: 0;
    }
    .verifyWrapper:first-child {
        margin-top: 0;
    }
    .numbering {
        margin-bottom: 1rem;
        display: block;
    }
    .verifyColumn {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 769px) {
    .verificationText {
        margin-top: -16px;
    }
}

@media (max-width: 425px) {
    .topNavbar__wrapper__notificationArea__anchor:first-of-type, .admin-mr {
        margin-right: 0
    }
    .topNavbar__wrapper__notificationArea__anchor:nth-child(3) {
        margin-right: 1.5rem;
    }
}

@media (max-width: 508px) {
    .adminTopNavBar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
    }
    .admin-hyperlinks {
        margin: 0 0.8rem;
    }
}

@media (max-width: 426px) {
    .verifyColumn {
        width: 60%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .verifyColumn {
        width: 45%;
    }
}

@media (max-width: 320px) {
    .admin-hyperlinks {
        margin: 0 0.4rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 510px) {
    .modalContent {
        padding: 2rem;
        margin-left: 7%;
        margin-right: 7%;
        padding-top: 3rem
    }
    .modalClose {
        top: 2px;
    }
}

@media (max-width: 688px) {
    .mainLogo, .admin-hyperlinks {
        display: none;
    }
    .logoIcon, .navIcon {
        display: inline-block;
    }
    .logoWrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}