.mt-1rem {
    margin-top: 1rem;
}

.mb-1rem {
    margin-bottom: 1rem;
}

.uppercase {
    text-transform: uppercase;
}

.boxShadow {
    -webkit-box-shadow: -1px 10px 18px 1px rgba(235, 235, 235, 1);
    box-shadow: 0px 15px 17px 0px rgba(235, 235, 235, 0.82);
}

.statusText {
    color: #CCC;
    font-size: 0.9rem;
    display: block;
}

.minorBtns {
    font-size: 0.7rem;
    margin: 0.5rem 0;
    display: inline-block;
    padding: 0.6rem 1rem;
    border-radius: 25px;
}

.minorBtns--orange {
    color: #D28662;
    background: rgb(255, 239, 233);
}

.minorBtns--deepOrange {
    color: #FFF;
    background: #FFAD08;
}

.minorBtns--purple {
    color: #6271D2;
    background: #dee3ff;
}

.minorBtns--red {
    color: rgb(255, 8, 8);
    background: rgb(255, 228, 228);
}

.minorBtns--whiteTextGreenBG {
    color: #FFF;
    background: rgb(148, 239, 183)
}

.minorBtn--padding {
    padding: 1.5rem 4rem;
}

.minorBtns--green {
    color: rgb(148, 239, 183);
    background: rgb(237, 255, 244);
}

.minorBtns--grey {
    background: rgb(237, 237, 237);
}

.darkGrey {
    color: rgb(96, 101, 107);
    background: rgb(238, 238, 238);
}

.darkGreyText {
    color: rgb(96, 101, 107);
    line-height: 1.5;
    font-size: 1rem;
}

.loanStatusTextOnBtn {
    font-weight: bold;
    text-transform: uppercase;
}

.notificationNumber {
    font-size: 0.8rem;
    position: absolute;
    top: -11px;
    left: 32px;
    text-align: center;
    background: #4C5EBB;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.repaymentText {
    color: #79828B;
    margin-bottom: 3rem;
    line-height: 1.4;
}

.loanStatusText {
    font-size: 1rem;
    line-height: 1.6
}

.checkIcon {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.pink {
    background: #FF08A3;
}

.yellow {
    color: #FFAD08;
    text-decoration: none;
}

.green {
    color: #03CB4E;
}

.white {
    color: #FFFFFF;
    text-decoration: none;
}

.positionRelative {
    position: relative;
}

.loanFormSpacer {
    width: 10%;
}

.loanAppHeight {
    height: 50px;
}

.displayBlock {
    display: block;
}

.paidIndicator, .unPaidIndicator, .greyIndicator {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 1rem;
}

.paidIndicator {
    background: rgb(148, 239, 183);
}

.unPaidIndicator {
    background: #FFAD08;
}

.greyIndicator {
    background: rgb(201, 204, 206);
}

.emphasis {
    font-weight: bold;
    color: #79828B;
}

.grey {
    color: rgb(201, 204, 206);
}

.amountSize, .amountDue {
    font-size: 2rem;
}

.amountDue {
    margin-top: 2rem
}

.greenBold, .yellowBold, .redBold {
    font-weight: bold;
}

.greenBold {
    color: #03CB4E;
}

.yellowBold {
    color: #FFAD08;
}

.redBold {
    color: rgb(255, 8, 8);
}

.alignCenter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.lineHeightInitial {
    line-height: initial;
}

.removeUnderline {
    text-decoration: none;
}

.fullyBold {
    font-weight: bold;
}

.centerBtn {
    width: inherit;
}

.notificationNumberUser {
    top: -3px;
}

@media (max-width: 710px) {
    .greenMobile {
        color: #03CB4E;
    }
}

@media (max-width: 426px) {
    .avatar {
        display: none;
    }
    .notificationNumber {
        top: -11px;
    }
}

@media (max-width: 768px) {
    .paymentRate {
        font-size: 1.5rem;
    }
    .loanTextLabel {
        font-size: 1rem;
    }
}