.dashboard__container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    padding: 4rem 0;
}

.topNavbar__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 4rem;
}

.topNavbar__wrapper__notificationArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.topNavbar__wrapper__notificationArea__anchor {
    margin-left: 1.5rem;
    text-decoration: none;
    color: #FFF;
}

.topNavbar__wrapper__notificationArea__anchor:first-of-type {
    margin-right: 1.2rem;
}

.topNavbar__wrapper__notificationArea__anchor:nth-child(3) {
    margin: 0;
}

.topLoanBtn-wrapper {
    width: 200px;
    margin-bottom: 3rem;
}

.form__inputWrapper__largeBtn--whiteDisabled {
    background: #FFF;
    color: #6271D2;
}

.form__inputWrapper__largeBtn--whiteDisabled:disabled {
    color: rgb(150, 150, 150);
    cursor: not-allowed;
    opacity: 0.8;
}

.form__inputWrapper__largeBtn--purpleDisabled:disabled {
    color: #FFF;
    cursor: not-allowed;
    background: rgb(188, 196, 252);
}

.cardHolder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.largeCard {
    background: #FFF;
    border-radius: 4px;
    border: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 60%;
    -webkit-box-shadow: -1px 10px 18px 1px rgba(235, 235, 235, 1);
    box-shadow: 0px 15px 17px 0px rgba(235, 235, 235, 0.82);
    margin-right: 2rem;
    padding: 3rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.largeCard__leftSection__ongoingLoans {
    color: #79828B;
    display: block;
    margin-bottom: 2rem;
}

.largeCard__leftSection__amount {
    font-weight: bold;
    font-size: 3rem;
    display: block;
    color: #79828B;
}

.largeCard__leftSection__daysLeft {
    color: #03CB4E;
}

.largeCard__rightSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 3rem;
}

.largeCard__rightSection__upper__title {
    color: #79828B;
    display: block;
    margin-bottom: 0.8rem;
}

.largeCard__rightSection__upper__verificationStatus {
    font-size: 2rem;
    display: inline-block;
    color: #FFAD08;
}

.largeCard__rightSection__lower__title {
    color: #79828B;
    display: block;
    margin-top: 2rem;
}

.smallCard {
    background: #FFF;
    border-radius: 4px;
    border: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 30%;
    -webkit-box-shadow: -1px 10px 18px 1px rgba(235, 235, 235, 1);
    box-shadow: 0px 15px 17px 0px rgba(235, 235, 235, 0.82);
    text-align: center;
    color: #79828B;
    padding: 3rem 2rem;
}

.smallCard__paragraph {
    line-height: 21px;
    font-size: 0.82rem;
}

.smallCard__btn {
    width: 60%;
}

.lowerCardHolder {
    padding: 6rem;
    text-align: center;
}

.contentWrapper {
    width: 300px;
    margin: 0 auto;
}

.contentWrapper__noTransaction {
    color: #CCC;
    font-size: 1.3rem;
    display: block;
}

.updateProfileSection {
    padding: 3rem;
    text-align: left;
}

.updateProfileSection__textArea {
    text-align: left;
    width: 100%;
    border: 1px solid #CCC;
}

.uploadWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1.5rem;
}

.realImageUploadHolder {
    display: none;
    width: 70px;
    height: 60px;
    margin-right: 1rem;
}

.uploadWrapper__text__label {
    cursor: pointer;
    color: #CCC;
    display: block;
    text-decoration: underline;
}

.uploadWrapper__text__upload {
    display: none;
    color: #CCC;
}

.uploadWrapper__text__sizeLimit {
    color: #6271D2;
    font-size: 0.7rem;
}

.imgPlacehoder {
    margin-right: 1rem;
}

.showNotification {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute;
    top: 9rem;
    z-index: 1;
    background: #FFF;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 4px;
}

.notificationMessage {
    display: none;
}

.smallNotificationIcon {
    margin-right: 1rem;
}

.smallNotificationIconText {
    font-size: 0.8rem;
    line-height: 1.2;
}

.verifiedText {
    color: #03CB4E;
}

.LoanAplicationWrapper {
    padding: 2rem;
}

.loanForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.loanTextLabel {
    font-size: 2rem;
}

.requestLoanBtn {
    width: 40%;
    margin: 2rem auto;
}

.loanForm__left, .loanForm__right {
    width: 40%;
}

.paymentRate {
    color: #FF08A3;
    font-weight: bold;
    font-size: 3rem;
}

.interestRate {
    font-weight: bold;
}

.historyWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #F5F5F5;
    margin-bottom: 2rem;
}

.whiteSpace {
    padding: 3rem 2rem;
}

.loanID {
    border-right: 1px solid #CCC;
    margin-left: 1rem;
    width: 25%;
}

.repaymentBreakdown {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.loanID__code {
    font-weight: bold;
    color: #79828B;
}

.loanID__purpose {
    margin-top: 0.6rem;
    font-size: 0.8rem;
    color: #79828B;
}

.repaymentSpacer {
    width: 4%;
}

.paymentDateWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    position: relative;
}

.paymentDateWrapper:last-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 30%;
    flex: 0 30%;
}

.paymentDateWrapper__text {
    font-size: 0.8rem;
}

.mb {
    margin-bottom: 2rem;
}

/* Media Queries */

@media (max-width: 710px) {
    .topNavbar__wrapper {
        display: block;
        text-align: center;
    }
    .topNavbar__wrapper__notificationArea {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 1rem;
    }
    .topLoanBtn-wrapper {
        width: 100%;
    }
    .cardHolder {
        display: block;
    }
    .largeCard, .smallCard, .lowerCardHolder {
        display: block;
        width: 100%;
        padding: 0;
    }
    .largeCard, .smallCard {
        padding: 2rem 0;
    }
    .contentWrapper {
        width: 100%;
    }
    .dashboard__container {
        padding-top: 2rem;
    }
    .topNavbar__wrapper {
        margin-bottom: 2rem;
    }
    .largeCard__rightSection {
        display: block;
        text-align: center;
        margin-top: 3rem;
        margin-right: 0;
    }
    .largeCard__leftSection {
        text-align: center;
    }
    .smallCard {
        margin-top: 3rem;
    }
    .updateProfile {
        padding: 1rem;
    }
    .mb {
        margin-bottom: 0.7rem;
    }
}

@media (min-width: 425px) and (max-width: 980px) {
    .cardHolder {
        display: block;
    }
    .largeCard {
        width: -webkit-fill-available;
        margin-right: 0;
    }
    .smallCard {
        margin-top: 3rem;
        width: -webkit-fill-available;
    }
}

@media (max-width: 426px) {
    .avatar {
        display: none;
    }
    .notificationNumber {
        top: -11px;
    }
}

@media (min-width: 710px) {
    .showNotification {
        top: 8rem;
        right: 9rem;
    }
}

@media (min-width: 1300px) {
    .showNotification {
        top: 8rem;
        right: 15rem;
    }
}

@media (max-width: 769px) {
    .loanForm {
        display: block;
    }
    .loanForm__left, .loanForm__right, .requestLoanBtn {
        width: 100%;
    }
    .historyWrapper {
        display: block;
        text-align: center;
    }
    .loanID {
        width: 100%;
        margin-left: 0;
        border-right: none;
    }
    .repaymentSpacer {
        display: none;
    }
    .repaymentBreakdown, .paymentDateWrapper {
        display: block;
        width: 100%;
    }
    .paymentDateWrapper {
        margin: 1.5rem 0;
    }
}

@media (min-width: 769px) {
    .paymentDateWrapper__text {
        font-size: 0.7rem;
        line-height: 1.2;
    }
}